

        {%extends "layout.html"%}
        {%block body%}
        
       
    <h1>My Home Page</h1>
    <h2>Kawa Designs</h2> 
    <p>Smartness is our culture</p>
    <ul>
        <li>Clothes</li>
        <li>Best wears</li>
        <li>Cool designs</li>
        <li>Light wears</li>
        

    </ul>
    <div class="ail"></div>
    <button>Create Accout</button><br>
    <br>
    
    <label>FirstName</label><br>
    <br>
    <input type="text"reguired="FirstName"><br>
    <br>
    <label>LastName</label><br>
    <input type="text"reguired="LasttName"><br>
    <br>
    <label>PhoneNumber</label><br>
    <input type="number"reguired="phoneNumber"><br>
    <br>
    <label>Emailaddress</label><br>
    <input type="email"reguired="emailaddress"><br>
    <br>
    
    <label>Password</label><br>
    <br>
    <input type="password"reguired="password"><br>
    <br>
    <br>
    <br>
<button>Login</button>
    <br>
    <label>Emailaddress</label><br>
    <br>
    <input type="email"reguired="emailaddress"><br>
    <br>
    <label>Password</label><br>
    <br>
    <input type="charater"reguired="password"><br>
    <br>
    <button id="pan"><a href="a todo item.html" >Next</a></button>
    
    
</div> 
{%endblock%}
